{{ define "main"}}
<section class="blue-background-bios">
  <div class="grc-bio-individual">
    <div class="back-link"><p><a href="/grcpage/icahn-school-of-medicine-mount-sanai/">back</a></p></div>
    <div class="grc-title-bug white-text">Bio</div>
    <div class="grc-bio-pic-individual"><img src="{{ with .Params.image }}{{ . }}{{ end }}" / style="width: 100%;"></div>
    <div class="grc-bio-pic-individual-bkg"><img src="/img/bio-pic-background.png"></div>
    <div class="grc-bio-title-individual">        
        <div>
          {{ with .Params.name }}
          
          <h2 class="grc-bio-name">{{ . }}</h2>
          {{ end }}
          {{ with .Params.position }}
          <h4 class="grc-bio-title">{{ . }}</h4>
          {{ end }}
        </div>
        <hr>
    </div>
    <div class="grc-bio-individual-text">    
		            {{ .Content }}
                {{ range .Pages }}
		            {{ end }}
    </div>
			<div>
			   {{ range $idx, $category := .Params.categories }}
		      {{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
		      {{- end }}
		 	</div>    
  </div>
</section>
{{end}}
