          <footer>
  <div class="container-footer">
    <div class="footer-grid">
      <div class="footer-logo"><img src="/img/IBGGC-footer-logo.png">
        <p class="white-text">Funded by the NIDDK</p>
      </div>
      <div><h2 class="footer-subheads">Sitemap</h2>
        <hr>
        <ul class="footer-nav">
          {{ range .Site.Menus.footer }}
                <li><a href="{{ .URL }}" class="">{{ .Name }}</a></li>
            {{ end }}
        </ul>
      </div>
      <div><h2 class="footer-subheads">Keep in Touch</h2>
          <hr>
          <p class="footer-nav">John Doe<br><a href="mailto:webmaster@example.com" class="footer-links">Johndoe@ibdgc.com</a></p>
          <p class="footer-nav">John Doe<br><a href="mailto:webmaster@example.com" class="footer-links">Johndoe@ibdgc.com</a></p>
          <p class="footer-nav">John Doe<br><a href="mailto:webmaster@example.com" class="footer-links">Johndoe@ibdgc.com</a></p>
          <div class="social-icons">
          <ul >
            <li><a href=""><img src="/img/envelop-solid.svg"></a></li>
            <li><a href=""><img src="/img/facebook-square-brands.svg"></a></li>
            <li><a href=""><img src="/img/linkedin-brands.svg"></a></li>
            <li><a href=""><img src="/img/twitter-square-brands.svg"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-legal">
    <div class="footer-legal-grid">
      <div>
        <p>Contents © 2020 NIDDK IBD Genetics Consortium</p>
      </div>      
    </div>
  </div>
</footer>