      <div class="grc-div-bottom-border">
        <div class="grc-secondary-bio-pic-title">
          <img src="https://via.placeholder.com/130x170">
          <div>
            <h3 class="grc-bio-name">Ksenija Sabic</h3>
            <h4 class="grc-bio-title">Research Manager</h4>
          </div>
        </div>
        <p class="white-text">Ksenija Sabic is a Research Manager at the Icahn School of Medicine at Mount Sinai with extensive industry experience with Next Generation Sequencing, sample management, quality assurance processes and regulatory affairs, as well as a myriad of wet lab techniques. Ksenija’s interest in personalized medicine began in the clinical sphere and she now hopes to translate this experience into the research realm by (1) contributing to ongoing empirical studies in IBD, (2) coordinating efforts and streamlining procedures for biospecimen management and processing, and (3) overseeing patient recruitment.</p>
      </div>