      <div class="grc-div-bottom-border">
        <div class="grc-secondary-bio-pic-title">
          <img src="https://via.placeholder.com/130x170">
          <div>
            <h3 class="grc-bio-name">Yuval Itan</h3>
            <h4 class="grc-bio-title">Assistant Professor</h4>
          </div>
        </div>
        <p class="white-text">Dr. Yuval Itan is an Assistant Professor at the Icahn School of Medicine at Mount Sinai. He is an expert in human disease genomics and computational biology. The laboratory of Dr. Itan is conducting research in the following main topics: (1) development of computational methods for identifying novel disease-causing mutations and genes in next generation sequencing (NGS) data by cutting-edge machine learning and statistical approaches; and (2) cases-controls NGS analyses for identifying the genetic etiologies of human diseases, in particular IBD, primary immunodeficiencies and congenital heart disease. Dr. Itan is currently leading an NIDDK IBDGC research project of identifying rare and high-impact new IBD mutations, genes and pathways in whole exome sequencing data of Ashkenazi Jewish patients and unaffected controls.</p>
        <p>For additional information:<br>
        <a href="">Website</a></p>
      </div>