{{ define "main" }}
<section>
	<div class="container">
	    <div class="home-intro">
	    	{{ with .Params.titlebug }}
	        <p class="title-bug">{{ . }}</p>
	        {{ end }}
	        <h1 class="home-header">{{ .Title }}</h1>
	    </div>
	    <div class="text-width">
	        <p>Catagories</p>         
	    </div>
	</div>
</section>


<section>
  <div class="container">
    <div class="flex-grid-thirds">
      {{- range ( where site.RegularPages "Section" "newsarticle" ) }}

      <div class="col">
        <img src="{{ with .Params.image }}{{ . }}{{ end }}" / style="width: 100%;">
        <h5><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
        <p>{{ .Summary }}</p>
        <div class="button"><a href="{{ .Permalink }}">Read Article</a></div>
      </div>
      {{- end }}
    </div>
  </div>
</section>



{{ end }}